
@{
    ViewBag.Title = "Index";
}

<div class="main-content row">
    <div class="col-md-8">
        <div class="content">
            <h2>Games/Index</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a tempor ante. Sed efficitur eros eu felis venenatis, egestas molestie leo finibus. Aliquam molestie, libero vitae convallis consectetur, magna tellus pellentesque urna, eu lobortis magna nunc et dui. Nulla pellentesque ante mauris, ac aliquet mauris venenatis ac. Praesent at aliquam nisi, sed finibus ante. Nullam sed dictum lectus. Aliquam varius nec erat vitae venenatis. Suspendisse tristique nisi et aliquam volutpat. Vestibulum vulputate, lacus sed pharetra dictum, orci purus scelerisque ligula, eu scelerisque orci augue vel tortor. Quisque dignissim viverra mi eu semper. Etiam feugiat et tortor vitae malesuada. Nunc ac laoreet erat. Aenean fringilla sapien ut orci vulputate suscipit. Proin maximus rhoncus quam a fringilla. Nam viverra, ipsum finibus placerat suscipit, magna nisi semper nisi, eu rutrum magna erat et sapien. Cras rhoncus nunc lacus, pellentesque molestie diam fermentum non.
            </p>
            <p>
                Pellentesque ultrices porttitor mi, eget tempus magna facilisis id. Ut erat massa, sodales id felis quis, tempus finibus purus. Sed pretium at dolor sit amet blandit. Donec finibus ultrices tellus eu pulvinar. Maecenas condimentum ipsum ut egestas elementum. Ut eget feugiat nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam rhoncus finibus tortor id dictum.
            </p>
            <p>
                Maecenas sed neque eu mauris rhoncus pulvinar. Praesent congue, orci in cursus placerat, mauris ipsum pharetra ligula, et congue magna magna sit amet massa. Phasellus maximus nulla id felis semper, at commodo tortor hendrerit. Vestibulum a iaculis erat. Praesent enim sem, eleifend sed tincidunt nec, pulvinar quis leo. Sed finibus accumsan rutrum. Etiam tempus tortor at mi maximus tincidunt.
            </p>
            <p>
                Phasellus eget rhoncus mauris. Proin molestie lacus a semper vestibulum. Cras vehicula tellus ut dui finibus, in tincidunt augue semper. Etiam diam mauris, venenatis ac lobortis vel, tempor pretium nibh. Proin ac tincidunt sem. Sed et nisl dui. Integer id euismod risus. Cras eu consequat lacus. Pellentesque quis lacinia erat. Suspendisse potenti.
            </p>
        </div>

    </div>
    <aside class="col-md-4">
        @Html.Action("GetBaners");=
    </aside>
</div>



