
<div class="side-banners">
    <a href="#" class="banner-wrapper">
        <img class="img-responsive" src="~/Content/images/banners/banner1.png"/>
    </a>
    <a href="#" class="banner-wrapper">
        <img class="img-responsive" src="~/Content/images/banners/banner2.jpg" />
    </a>
    <a href="#" class="banner-wrapper">
        <img class="img-responsive" src="~/Content/images/banners/banner3.jpg" />
    </a>
    <a href="#" class="banner-wrapper">
        <img class="img-responsive" src="~/Content/images/banners/banner4.jpg" />
    </a>
    <a href="#" class="banner-wrapper">
        <img class="img-responsive" src="~/Content/images/banners/banner5.jpg" />
    </a>

</div>